* {
  margin: 0;
  padding: 0;
}

.header {
  background-image: url("../images/header_image.png");
  height: 34vh;
  width: 100%;
  gap: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
img {
  margin-top: 15px;
  height: 55px;
}
h2 {
  font-family: 'Helvetica', Arial, sans-serif;
  font-size: 24px;
  font-weight: 540;
  color: white;
}
button {
  height: 40px;
  width: 150px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2px;
  border: none;
  font-size: 18px;
  border-radius: 30px;
}

.b1 {
  background: rgb(2 132 199 / var(--tw-bg-opacity, 1));
  color: white;
  margin: auto;
  width: 180px;
}
.b2 {
  background: white;
  color: rgb(2 132 199 / var(--tw-bg-opacity, 1));
}
.buttons {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
  button:hover {
    transform: scale(1.05);
    transition: 150ms ease-in-out
  }

button:active {
    transform: scale(0.98);
  }